body,h1,h4,p,img,ul,li{
    margin: 0;
    padding: 0;
}

.welcome{
    background-color: rgba(55, 55, 55, 0.568);
    align-items: center;
    display: flex;
    height: 5rem;
    position: fixed;
    width: 100%;
}

.welcome,a{
    text-decoration: none;
    color: white;
}

.welcome,a:hover{
    color: rgb(101, 98, 255);
    transition: .4s;
}

.h41{
    padding: 8px 20px;    
}
.h42{
    padding: 8px 20px;
}
.h43{
    padding: 8px 20px;
    color: rgb(101, 98, 255);
}
.h44{
    padding: 8px 20px;
}
/* .h45{
    padding: 8px 20px;
} */

.ser,button{
    margin-top: 1px;
    /* width: 45px; */
    height: 35px;   
    padding: 0 5px;
}

.button1{
    display: flex;
    padding-left: 35%;
}

.text{
    background-image: url(./photo/roaring-lion-android-iphone-desktop-hd-backgrounds-wallpapers-1080p-4khd-wallpapers-desktop-background-android-iphone-1080p-4k-gm0rg.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 27rem;
    color: white;
}
 
#text-p{
    text-align: center;
    font-size: 60px;
    font-family: sans-serif;
    color: aqua;
    padding-top: 7rem;
}

#text-p p a{
    color: green;
    float: right;
    padding-right: 42rem;
}

#text-p .meat a{
    color: red;
    padding-left: 33rem;
}

.wildinfo{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.ico{
    margin-top: 3px;
}

.iimg1{
    margin-top: 3rem;
    padding-left: 1rem;
}

.wword1{
    float: right;
    width: 70rem;
    padding-right: 2rem;
    margin-top: 6rem;
}

.img1{
    float: right;
    padding-right: 1rem;
}

.word1{
    text-align: right;
    width: 70rem;
    margin-top: 2rem;
}

.iimg2{
    margin-top: 7rem;
    padding-left: 1rem;
}

.wword2{
    float: right;
    /* padding-right: 1rem; */
    width: 52rem;
    margin-top: 8rem;
}

.img2{
    float: right;
    margin-top: 1rem;
    padding-right: 1rem;
}

.word2{
    text-align: right;
    width: 70rem;
    margin-top: 3rem;
}

.iimg3{
    margin-top: 6rem;
    padding-left: 1rem;
}

.wword3{
    float: right;
    /* padding-right: 1rem; */
    width: 52rem;
    margin-top: 9rem;
}

.img3{
    float: right;
    margin-top: 1rem;
    padding-right: 1rem;
}

.word3{
    text-align: right;
    width: 70rem;
    margin-top: 3rem;
}

.iimg4{
    margin-top: 6rem;
    padding-left: 1rem;
}

.wword4{
    float: right;
    /* padding-right: 1rem; */
    width: 52rem;
    margin-top: 8rem;
}

.img4{
    float: right;
    margin-top: 1rem;
    padding-right: 1rem;
}

.word4{
    text-align: right;
    width: 70rem;
    margin-top: 3rem;
}

.iimg5{
    margin-top: 6rem;
    padding-left: 1rem;
}

.wword5{
    float: right;
    /* padding-right: 1rem; */
    width: 52rem;
    margin-top: 7rem;
}

footer{
    background-color: gray;
    display: flex;
    justify-content: center;
}

.peg1{
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items:center ;
    padding: 0 20px;
}

.peg2{
    width: 110px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items:center ;
    padding: 0 20px;
}

.peg3{
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items:center ;
    padding: 0 20px;
}
 
.peg1:hover{
    background-color: rgba(95, 95, 95, 0.329);
    cursor: pointer;
}
 
.peg2:hover{
    background-color: rgba(95, 95, 95, 0.329);
    cursor: pointer;
}
 
.peg3:hover{
    background-color: rgba(95, 95, 95, 0.329);
    cursor: pointer;
}

footer > a > img{
    width: 50px;
    height: 50px;
    padding: 0 5rem 0 5rem;
}

footer > a > img:hover{
    cursor: pointer;
    width: 58px;
    height: 58px;
    transition: 0.3s;
}